In [16]:
# import required library
import pandas as pd
import numpy as np
import os

In [17]:
# Set directory of the file
os.chdir('D:\DATA SCIENCE')

In [18]:
# importing csv file
df = pd.read_csv('test.csv')

In [19]:
df.head(12)

,Postel code,Borough,Neighborhood
0,M1A,Not assigned,NaN
1,M2A,Not assigned,NaN
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,Regent Park / Harbourfront
5,M6A,North York,Lawrence Manor / Lawrence Heights
6,M7A,Downtown Toronto,Queen's Park / Ontario Provincial Government
7,M8A,Not assigned,NaN
8,M9A,Etobicoke,Islington Avenue
9,M1B,Scarborough,Malvern / Rouge
10,M2B,Not assigned,NaN
11,M3B,North York,Don Mills

In [20]:
# size of the file
df.shape

(180, 3)

In [21]:
# importing csv file
df = pd.read_csv('Geospatial_Coordinates.csv')

In [22]:
df.shape

(103, 3)

In [23]:
df.head(12)

   Postal Code   Latitude  Longitude
0          M1B  43.806686 -79.194353
1          M1C  43.784535 -79.160497
2          M1E  43.763573 -79.188711
3          M1G  43.770992 -79.216917
4          M1H  43.773136 -79.239476
5          M1J  43.744734 -79.239476
6          M1K  43.727929 -79.262029
7          M1L  43.711112 -79.284577
8          M1M  43.716316 -79.239476
9          M1N  43.692657 -79.264848
10         M1P  43.757410 -79.273304
11         M1R  43.750072 -79.295849

In [30]:
import pandas, sys

Merging Two csv files

In [35]:
a = pd.read_csv("test.csv")
b = pd.read_csv("Geospatial_Coordinates.csv")

In [ ]:
merged = a.merge(b, on='Postal code',duplicated(keep = False))

In [ ]:
merged.to_csv('result.csv', index=False)